<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index.html</title>
    <script>
        function redirectToPlus() {
            window.location.href = "/plus";
        }
        function redirectToMinus() {
            window.location.href = "/minus";
        }
    </script>
</head>
<body>

<h2><p th:text="'카운트: ' + ${count}">0</p></h2>


<button type="button" onclick="redirectToPlus()">더하기</button>
<button type="button" onclick="redirectToMinus()">빼기</button>

</body>
</html>