 /* 폰트 */
      @font-face {
        font-family: "Pretendard-Regular";
        src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
          format("woff");
        font-weight: 400;
        font-style: normal;
      }

      * {
        font-family: "Pretendard-Regular";
      }

      .wrap {
        margin: 100px auto;
        width: 400px;
      }

      div.container {
        background-color: rgb(187, 41, 41);
        padding: 10px;
        border: 1px solid white;
        width: 500px;
        height: 300px;
      }

      /* 자판기 타이틀 */
      .title-box {
        /* background-color: rgb(255, 255, 255); */
        width: 100%;
        height: 30px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
      }

      .title {
        color: rgb(187, 41, 41);
        margin: 0px;
        text-shadow: -1px 0px white, 0px 1px white, 1px 0px white,
          0px -1px white;
        font-size: 24px;
      }

      .addButton {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .addButton button {
        margin: 0 5px;
      }

      label {
        margin: 2px;
      }